<main>
    <div class="cart" >
        <h2>Din varukorg</h2>
        <div class="movie" *ngFor="let m of moviesInCart; let i = index">
            <h3> {{ m.name }} </h3>
            <img src="{{ m.imageUrl }}" alt="">
            <button (click)="[removePrice(m.price), removeFromCart(i)]">Ta bort</button>
        </div>
        <p *ngIf="moviesInCart.length"><b>Totalt:</b> {{ totalprice }}kr</p>
        <p *ngIf="!moviesInCart.length">Din varukorg är tom..</p>
        <a *ngIf="moviesInCart.length" routerLink="/kassa" routerLinkActive="active"><button>Till kassan</button></a>
    </div>
</main>